In [2]:
import pandas as pd

### Treinamento na unha

In [3]:
# Importando da base
df = pd.read_csv("C:/Users/vinic/Desktop/Livro - Data Science do Zero/Machine Learning Iniciante/tracking.csv")
df.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [4]:
# Renomear colunas usando o método mapa junto ao pandas
mapa = {
    "home": "pagina_inicial",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprou"
}
df = df.rename(columns = mapa)

In [5]:
df.head()

   pagina_inicial  como_funciona  contato  comprou
0               1              1        0        0
1               1              1        0        0
2               1              1        0        0
3               1              1        0        0
4               1              1        0        0

In [6]:
# Definir as variáveis x(caracteristica) e y(resposta) 
x = df[["pagina_inicial", "como_funciona", "contato"]]
y = df["comprou"]

In [6]:
# Informações para divisão da base entre treino e teste
print(x.shape, y.shape)

(99, 3) (99,)

In [7]:
# Definir variáveis de treino (75% da base) e de teste (25% da base)
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

In [8]:
# Iniciando o treinamento do modelo
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC(dual=True)
modelo.fit(treino_x, treino_y)

previsoes = modelo.predict(teste_x)

# Calculo da acurácia
acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

### Treinamento usando o método SPLIT

In [12]:
# Usando médoto SPLIT para separar as variáveis de treino e de teste
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

# Uso do STRATIFY para equalizar os resultados, deixando a proporção entre 0 e 1 equivalentes
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))


modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

C:\Users\vinic\anaconda3\Lib\site-packages\sklearn\svm\_classes.py:31: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(